<!DOCTYPE html>
<html>
    <head>
        <title>Feature</title>
        <meta charset="utf-8" />
        <link href="/css/global.css" rel="stylesheet">
    </head>
    <body>
        <header id="topbar">
            <menu class="content">
                <li>
                    <a href="{{ path('feature_index') }}">功能列表</a>
                </li>
                <li>
                    <a href="{{ path('feature_create') }}">添加功能</a>
                </li>
            </menu>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
