{% extends 'base.twig' %}
{% block content %}
<aside class="key-wrapper">
    <ul class="key-list">
    {% for key in keys %}
        <li class="key-item" data-url="{{ path('key', {'db': db, 'key': key}) }}">
            {{ key }}
        </li>
    {% endfor %}
    </ul>
</aside>
<div id="value-wrapper">
</div>
{% endblock content %}
